# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Logs
logs/
*.log

# Artifacts 
artifacts/models/
artifacts/reports/*.json
artifacts/reports/data_quality/

# Processed data
data/processed/
data/bronze/
data/silver/

# dbt
dbt_project/models/gold/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/