# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Logs
logs/
*.log

# Artifacts 
artifacts/models/
artifacts/reports/*.json

# Processed data
data/processed/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
